apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "chart.repository" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    kind: {{ .Values.s3.secretStoreRef.kind }}
    name: {{ .Values.s3.secretStoreRef.name }}
  target:
    name: {{ include "chart.repository" . }}
    template:
      data:
        RESTIC_PASSWORD: "{{ `{{ .RESTIC_PASSWORD }}` }}"
        AWS_ACCESS_KEY_ID: "{{ `{{ .AWS_ACCESS_KEY_ID }}` }}"
        AWS_SECRET_ACCESS_KEY: "{{ `{{ .AWS_SECRET_ACCESS_KEY }}` }}"
        AWS_DEFAULT_REGION: "{{ `{{ .AWS_DEFAULT_REGION }}` }}"
        AWS_S3_ENDPOINT: "https://{{ `{{ .AWS_S3_ENDPOINT }}` }}"
        RESTIC_REPOSITORY: "s3:https://{{ `{{ .AWS_S3_ENDPOINT }}` }}/{{ `{{ .BUCKET_NAME }}` }}/{{ .Values.appName }}"
  dataFrom:
  - extract:
      key: {{ .Values.s3.secretKey }}
