# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: {{ include "chart.repository" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  sourcePVC: {{ .Values.pvcName }}
  trigger:
    {{- with .Values.backup.trigger.manual }}
    manual: {{ . | quote }}
    {{- end }}
    {{- with .Values.backup.trigger.schedule }}
    schedule: {{ . | quote }}
    {{- end }}
  restic:
    cacheCapacity: {{ .Values.backup.cache.capacity }}
    cacheStorageClassName: {{ .Values.backup.cache.storageClass }}
    copyMethod: Snapshot
    moverSecurityContext:
      runAsUser: {{ .Values.restic.runAsUser }}
      runAsGroup: {{ .Values.restic.runAsGroup }}
      fsGroup: {{ .Values.restic.fsGroup }}
      fsGroupChangePolicy: Always
    pruneIntervalDays: {{ .Values.backup.pruneIntervalDays }}
    retain:
      hourly: {{ .Values.backup.retain.hourly }}
      daily: {{ .Values.backup.retain.daily }}
      weekly: {{ .Values.backup.retain.weekly }}
    repository: {{ include "chart.repository" . }}
    storageClassName: {{ .Values.backup.pvc.storageClass }}
    volumeSnapshotClassName: {{ .Values.backup.pvc.volumeSnapshotClass }}
