# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationdestination_v1alpha1.json
{{- if .Values.restore.enabled }}
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ include "chart.repository" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argoSyncWave }}
spec:
  trigger:
    manual: {{ .Values.restore.trigger | quote }}
  restic:
    capacity: {{ .Values.restore.pvcSize }}
    cacheCapacity: {{ .Values.restore.cacheCapacity | default .Values.backup.cacheCapacity }}
    cacheStorageClassName: {{ .Values.restore.cacheStorageClass | default .Values.backup.cacheStorageClass }}
    {{- with .Values.restore.cleanupCachePVC }}
    cleanupCachePVC: {{ . }}
    {{- end }}
    {{- with .Values.restore.cleanupTempPVC }}
    cleanupTempPVC: {{ . }}
    {{- end }}
    copyMethod: Snapshot
    {{- with .Values.restore.enableFileDeletion }}
    enableFileDeletion: {{ . }}
    {{- end }}
    moverSecurityContext:
      runAsUser: {{ .Values.restic.runAsUser }}
      runAsGroup: {{ .Values.restic.runAsGroup }}
      fsGroup: {{ .Values.restic.fsGroup }}
      fsGroupChangePolicy: Always
    repository: {{ include "chart.repository" . }}
    {{- with .Values.restore.restoreAsOf }}
    restoreAsOf: {{ . | quote }}
    {{- end }}
    storageClassName: {{ .Values.restore.storageClass | default .Values.backup.storageClass }}
{{- end }}
